<ion-header>
  <ion-navbar>
    <ion-title>Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="!expenses">Chargement des dernière transactions !</h2>
  <ion-grid *ngIf="expenses">
    <ion-row class="header">
      <ion-col col-4>
        Date
      </ion-col>
      <ion-col col-4>
        Type
      </ion-col>
      <ion-col col-4>
        Valeur
      </ion-col>
    </ion-row>
    <ion-row
      *ngFor="let expense of expenses; let odd = odd"
      [class.odd]="odd">
      <ion-col col-4 class="alignCenter">
        {{expense.createdAt | date}}
      </ion-col>
      <ion-col col-4 class="alignCenter">
        {{expense.type}}
      </ion-col>
      <ion-col col-4 class="alignRight">
        {{expense.value}}€
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
